body{
	font-family: Arial, Helvetica, sans-serif;
  background-color: #DAF7A6 ;
}
h1{
	text-align: center;
}
*{
	box-sizing: border-box;
}


table {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

td{
  padding: 10px;
  border-color: #4287f5;
   border: 2px solid black;
   box-sizing: border-box;
}
.toolbar{
  background-color: #9beb34;
  }
a:hover {
  background-color: #4287f5;
}

div{
  margin:10px;
  border: 1px solid black;
}
