body{
	font-family: Arial, Helvetica, sans-serif;
  background-color: #DAF7A6 ;
}
h1{
	text-align: center;
}
*{
	box-sizing: border-box;
}


table {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-sizing: border-box;

}

td{
  padding: 10px;
  border-color: #4287f5;
   border: 2px solid black;
   box-sizing: border-box;
}
.toolbar{
  background-color: #9beb34;
  }
a:hover {
  background-color: #4287f5;
}

div{
  margin:10px;
}
#Middle_content{ 
  width:95%;
  height:35%;
  padding-left: 20px;
}
#content{
  float:right;
  
  width: 71%;
}
#image{
    float:left;
    
    width: 25%;
    height: 85%;
   
}
img {
     display: block;
  margin-left: auto;
  margin-right: auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}




/********** desktop view **********/
@media (min-width: 992px) {
  #chicken-para {
    width: 30%;
    float:left;
  }
  #beef-para {
    width: 30%;
    float:right;
  }
  #sushi-para{
  	width:30%;
  	float:right;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width:991px) {
  #chicken-para {
    width: 50%;
    float:left;

  }
  #beef-para {
    width: 40%;
    float:right;
  }
  #sushi-para{
  	clear:both;
  }
  
}
/********** mobile view **********/
@media  (max-width:767px) {
  #chicken-para {
    
    clear:both;
  

  }
  #beef-para {
   
    clear:both;
  }
  #sushi-para{
  	clear:both;
  }
  
}